.check {
  margin-bottom: 39px;

  @media (min-width: 1200px) {
    margin-bottom: 104px;
  }
}

.check__content {
  padding: 22px 30px 42px 23px;
  background-color: $basic_light-blue;
  margin-bottom: 25px;

  @media (min-width: 1200px) {
    padding: 57px 0px 56px 63px;
    flex-grow: 1;
  }
}

.check__wrapper {
  @media (min-width: 1200px) {
    display: flex;
    background-color: $basic_light-blue;
    margin-bottom: 34px;
    min-width: 0;
  }
}

.check__img {
  @include zero-margin;
  display: block;
  width: 100%;
  object-fit: cover;

  @media (min-width: 1200px) {
    order: 2;
    width: 60.7%;
    clip-path: polygon(4% 0, 100% 0%, 100% 100%, 22% 100%);
  }
}

.check__title {
  margin-bottom: 5px;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    margin-bottom: 3px;
  }
}

.check__for {
  @include zero-margin;
  margin-bottom: 14px;
  font-weight: 700;

  @media (min-width: 1200px) {
    font-size: 22px;
    margin-bottom: 17px;
  }
}

.check__list {
  @include zero-margin;
  padding-left: 16px;
  margin-bottom: 22px;

  @media (min-width: 1200px) {
    margin-bottom: 37px;
    font-size: 20px;
  }
}

.check__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &::marker {
    color: $basic_light-green;
  }
}

.check__price {
  @include zero-margin;
  vertical-align: middle;
  font-size: 18px;
  margin-bottom: 27px;

  span {
    margin-left: 10px;
    font-size: 14px;
    color: #868686;
    text-decoration: line-through;
  }
}

.check__content-btns {
  display: flex;
  align-items: center;
}

.check__registry-btn {
  @include zero-btn;
  padding: 11px 32px;
  margin-right: 6px;
  background-color: $basic_btn-green;
  border-radius: 50px;
  line-height: 21px;
  color: #fff;
  transition: background-color ease-in-out 0.3s;

  &:active {
    background-color: $active_green;
  }
  @media (min-width: 1200px) {
    padding: 11px 62px;
    margin-right: 14px;
    &:hover {
      background-color: $active_green;
    }
  }
}

.check__more-btn {
  @include zero-btn;
  padding: 11px 32px;
  border-radius: 50px;
  border: $basic_btn-green 1px solid;
  line-height: 21px;
  color: $basic_btn-green;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;

  &:active {
    background-color: $basic_btn-green;
    color: $white;
  }
  @media (min-width: 1200px) {
    padding: 11px 62px;
    &:hover {
      background-color: $basic_btn-green;
      color: $white;
    }
  }
}

.check__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check__btn {
  @include zero-btn;
  width: 34px;
  height: 17px;
  transition: fill ease-in-out 0.3s;

  @media (min-width: 1200px) {
    svg path {
      transition: fill ease-in-out 0.3s;
    }

    &:hover svg path {
      fill: $basic_btn-green;
    }
  }
}

.check__btn--prev {
  margin-right: 36px;
}

.check__btn--next {
  transform: rotate(180deg);
  margin-left: 36px;
}

.check__pages {
  font-size: 18px;
  color: #c0c0c0;
  width: auto;
  position: static;

  & > span:first-child {
    color: $basic_black;
  }
}

.check__analisys-diag-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (min-width: 1200px) {
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

.check__analisys,
.check__diagnostics {
  background-image: url(../img/pictures/checkup2-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 294px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 34px;
  padding-left: 40px;
  border-radius: 5px;
}

.check__diagnostics {
  background-image: url(../img/pictures/checkup3-desktop.jpg);
}

.check__analisys-link,
.check__diagnostics-link {
  position: relative;
  margin-bottom: 5px;
  font-size: 24px;
  color: $white;
  text-decoration: none;
  transition: color ease-in-out 0.3s;
  svg path {
    transition: fill ease-in-out 0.3s;
  }

  @media (min-width: 1200px) {
    &:hover {
      color: $basic_btn-green;
      text-decoration: underline;
      & svg path {
        fill: $basic_btn-green;
      }
    }
  }
}

.check__analisys-descr,
.check__diagnostics-descr {
  @include zero-margin;
  color: $white;
  font-size: 16px;
  line-height: 24px;
  @media (min-width: 1200px) {
    width: 400px;
  }
}

.swiper-slide {
  @media (min-width: 1200px) {
    max-height: 440px;
  }
}
