.clinic {
  margin-bottom: 50px;

  @media (min-width: 1200px) {
    margin-bottom: 98px;
  }
}

.clinic__wrapper {
  background-color: $basic_grey;

  @media (min-width: 1200px) {
    display: flex;
  }
}

.clinic__img {
  @include zero-margin;
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 288px;

  @media (min-width: 1200px) {
    order: 2;
    width: 49.5%;
    min-height: 533px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.clinic__content {
  align-self: flex-end;
  justify-self: end;
  padding-top: 35px;
  padding-bottom: 53px;
  padding-left: 17px;
  padding-right: 18px;
  background-color: $basic_grey;

  @media (min-width: 1200px) {
    padding-bottom: 162px;
    padding-left: 14px;
    width: 380px;
    margin-left: auto;
    margin-right: 216px;
  }
}

.clinic__title {
  margin-bottom: 10px;
  width: 270px;

  @media (min-width: 1200px) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.clinic__descr {
  @include zero-margin;
  line-height: 150%;

  @media (min-width: 1200px) {
    font-size: 16px;
  }
}
