.footer {
  background-color: $basic_footer-green;
}

.footer__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 31px;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 41px;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr max-content 1fr;
    padding-top: 56px;
    padding-bottom: 54px;
  }
}

.footer__nav-list {
  @include zero-list;
  @media (min-width: 1200px) {
    display: flex;
  }
}

.footer__nav-item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    &:not(:last-child) {
      margin: 0;
      margin-right: 30px;
    }
  }

  a {
    color: $white;
    text-decoration: none;
    transition: color ease-in-out 0.3s;

    @media (min-width: 1200px) {
      &:hover {
        color: $active_green;
      }
    }
  }
}

.footer__socials-list {
  @include zero-list;
  justify-self: end;
  display: flex;
  align-items: center;
  @media (min-width: 1200px) {
    order: 3;
  }
}

.footer__socials-item {
  text-decoration: none;
  transition: opacity ease-in-out 0.3s;
  width: 24px;
  height: 23px;
  &:active {
    opacity: 0.5;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  @media (min-width: 1200px) {
    width: 35px;
    height: 35px;
    &:hover {
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-right: 14px;
    }
  }
}

.footer__socials-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 23px;

  @media (min-width: 1200px) {
    width: 35px;
    height: 35px;
  }

  &--instagram {
    background-image: url(../img/img/instagram.svg);
  }

  &--whatsup {
    background-image: url(../img/img/whatsapp.svg);
  }

  &--telegram {
    background-image: url(../img/img/telegram.svg);
  }
}
