$white: #fff;
$basic_black: #364844;
$basic_grey: #f8fbfa;
$basic_light-grey: #868686;
$basic_light-blue: #e2f0ef;
$basic_light-green: #1fa181;
$basic_btn-green: #0dbc91;
$basic_footer-green: #08664f;
$active_green: #00d29f;
$burger_green: #45927f;
